awsebcli==3.14.6
botocore==1.12.58
cement==2.8.2
colorama==0.3.9
docutils==0.14
Flask==1.0.2
flask-bootstrap==3.3.7.1
jmespath==0.9.3
numpy==1.15.4
opencv-python==3.4.4.19
pathspec==0.5.5
python-dateutil==2.7.5
PyYAML==3.13
scikit-image==0.14.1
scipy==1.1.0
semantic-version==2.5.0
six==1.11.0
termcolor==1.1.0
urllib3==1.22
virtualenv==16.1.0
